:root {
  --main-bgc-color: rgb(48, 46, 46);
  --hover-color: #494949;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--main-bgc-color);
  color: white;
  overflow: hidden;
}

.icon {
  padding: 15px;
}

.text-button {
  padding: 15px 20px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: white;
  outline: none;
  cursor: pointer;
}

.text-button:hover {
  background-color: #494949;
}

.first-view {
  display: flex;
  height: 30vh;
  position: relative;
  justify-content: space-between;
}

.titleIcon-container {
  width: 31rem;
  height: 31rem;
  padding-left: 4.5rem;
  padding-bottom: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.burger {
  margin: 0;
  padding: 10px;
  position: absolute;
  border: 0;
  background-color: transparent;
  top: 5%;
  right: 0;
  cursor: pointer;
  z-index: 2;
}

.hamburger-box {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
}

.hamburger-inner:before,
.hamburger-inner:after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: .3s;
}

.hamburger-inner:before {
  top: -10px;
}

.hamburger-inner:after {
  top: 10px;
}

.hamburger--active .hamburger-inner {
  background-color: transparent;
}

.hamburger--active .hamburger-inner:before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger-inner:after {
  transform: translateY(-10px) rotate(-45deg);
}

.title-text {
  font-family: 'Roboto', sans-serif;
}

.popup {
  background-color: #777;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 30vw;
  border: 3px solid white;
  border-radius: 15px;
  text-align: center;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: 0;
  font-size: 24px;
  padding: 3px;
  color: white;
  cursor: pointer;
}

.icon i {
  font-size: 40px;
  color: white;
}

.close-button:hover {
  color: rgb(224, 223, 220);
}

::-webkit-scrollbar {
  width: .5em;
  background-color: transparent;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(104, 103, 103);
  opacity: .7;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.popup::-webkit-scrollbar-thumb {
  background-color: #494949;
}

.popup::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 50px;
  margin: 7px;
}