.emptyList {
    display: flex;
    justify-content: space-around;
    padding: 5%;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    font-size: 2.6em;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.emptyList-SVGContainer {
    overflow: hidden;
}

.circle {
    animation: jumping ease .6s infinite alternate;
}

.task-window-div {
    width: 50%;
    margin: 10px;
    border: 5px solid white;
    background-color: var(--main-bgc-color);
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.button-container {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.task-window-button {
    font-size: 1.2em;
    padding: 8px 0;
    width: 180px;
}

.listOfTask-container {
    max-height: 45vh;
    overflow-y: auto;
}

.tasks {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    max-height: 45vh;
}

.tasks ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.tasks li:nth-child(odd) {
    background-color: #494949;
}

.tasks li {
    padding: 15px 0 0 10px;
    list-style: none;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasks span {
    padding: 10px;
    text-align: left;
}

.tasks-actionButton {
    width: 4.5rem;
    height: 2rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: .7em;
    margin-right: 7px;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
}

.tasks-actionButton:hover {
    background-color: var(--main-bgc-color);
}

.tasks-button-container {
    display: flex;
    flex-wrap: nowrap;
}

@keyframes jumping {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-80px);
    }
}